<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RandomPicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RandomPicker.Properties.Settings>
            <setting name="cesta" serializeAs="String">
                <value>D:\\Downloads\\cards</value>
            </setting>
            <setting name="startIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="endIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="timerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeVal" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="forgoting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startIndex2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="endIndex2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="showText" serializeAs="String">
                <value>False</value>
            </setting>
        </RandomPicker.Properties.Settings>
    </userSettings>
</configuration>